<h3>Add a new micropost!</h3>
<form action="/microposts" method="POST">

	<label for="title">Title<br>
		<input type="text" name="micropost[title]" value="<%= @micropost.title %>">
	</label><br><br />

	<label for="author">Author<br>
		<select name="micropost[author_id]">
			<% @authors.each do |author| %>
				<option <%= "selected" if author == @micropost.author %> value="<%= author.id %>"><%= author.name %></option>			
			<% end %>
		</select>
		<a href='/authors/new'>(New Author)</a>
	</label><br><br />

	<label for="date_created">Tag<br>
		<table>
			<% @tags.each do |tag| %>
				<tr>
					<td><input value="<%= tag.id %>" name='micropost[tags][]' type="checkbox" id='<%= tag.id %>' /></td>
					<td><label for='<%= tag.id %>'><%= tag.name %></label></td>
				</tr>
			<% end %>
		</table>
	</label><br><br />

	<label for="date_created">Date Created<br>
		<input type="text" name="micropost[date_created]" value="<%= @micropost.date_created %>">
	</label><br>

	<label for="time_created">Time Created<br>
		<input type="text" name="micropost[time_created]" value="<%= @micropost.time_created %>">
	</label><br>

	<label for="content">Content<br>
		<input type="text" name="micropost[content]" value="<%= @micropost.content %>">
	</label><br>

	<input type="submit" name="submit">
</form>
	